* {
    font-family: Helvetica, sans-serif;
}

header, footer {
    background: #444333;
    height: 100px;
}

nav {
    margin: 0px auto;
    width: 960px;
}

header img {
    float: left;
    margin-top: 15px;
    margin-right: 75px;
    margin-bottom: 30px;
}

nav li {
    display: inline-block;
    margin-top: 40px;
    margin-right: 60px;
}


a {
    text-decoration: none;
    color: #888888
}

main {
    width: 960px;
    margin: 30px auto;
}

main ul{
    width: 990px;
    display: table;
    margin: 30px 0px 30px 0px;

    padding-left: 0;
    padding-right: 0;
    border-right: 0;
}
main ul li {
    width: 315px;
    display: table-cell;
    border-right: 0;
    padding-right: 0;
    
}

#bottomImage{
    float: left;
    margin-right: 20px;
}

section {
   width: 960px;
}

section div {
    height: 400px;
}

section div h2 {
    font-weight: bold;
}

section div p {
    height: 270px;
    font-style: italic;
    line-height: 25px;
    overflow: auto;
    margin-top: 15px;
    margin-bottom: 30px;

}

section div button {
    height: 30px;
    background-color: black;
    color: white;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: 350ms;
}

section div button:hover {
    background: green;
    color: white;
    cursor: pointer;
}

footer{
    width: 100%;
    margin-top: 30px;
}